* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

:root {
  --color-1: #0d1b2a;
  --color-2: #1b263b;
  --color-3: #415a77;
  --color-3-50: #415a7780;
  --color-3-25: #415a7740;
  --color-4: #778da9;
  --color-w-1: #f8f9fa;
  --color-w-2: #e9ecef;
  --color-w-3: #dee2e6;
  --color-w-4: #ced4da;
  --color-w-5: #adb5bd;
  --basic-border-style: 0.1rem solid var(--color-w-4);
  --basic-border-radius: 0.25rem;
  --basic-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--color-1);
  background-color: var(--color-w-1);
}

.container {
  padding: 8rem 2rem;
  /* width: calc(100vw - 5.125rem); */
  margin-left: 5.125rem;
}

.wrapper {
  max-width: 80rem;
  width: 100%;
  margin-inline: auto;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 1rem;
  overflow: hidden;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5.125rem;
  width: 20rem;
  height: 20rem;
  z-index: -1;
  background-image: url("assets/imgs/blob.svg");
  background-size: cover;
  background-position: center;
}

#home::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: 20rem;
  z-index: -1;
  background-image: url("assets/imgs/blob-2.svg");
  background-size: cover;
  background-position: center;
}

#home img {
  width: 12.5rem;
  height: 12.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-user-drag: none;
}

#about {
  background-color: var(--color-w-2);
  display: grid;
  row-gap: 4rem;
}

#projects {
  background-color: var(--color-w-2);
}

.about {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.about img {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 17.5rem;
  height: 17.5rem;
  background-color: var(--color-w-5);
  filter: grayscale(15%) brightness(105%);
  transition: var(--basic-transition);
  -webkit-user-drag: none;
}

.about img:hover {
  background-color: var(--color-w-4);
}

.about .about-text-wrapper {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.timeline-wrapper {
  display: grid;
  row-gap: 2rem;
  width: 100%;
  padding-left: 2rem;
  position: relative;
  overflow: hidden;
}

.timeline-wrapper::before {
  content: "";
  display: block;
  width: 0.125rem;
  height: 100%;
  left: calc(1rem - 0.125rem / 2);
  background-color: var(--color-3-25);
  position: absolute;
  margin-block-start: 1rem;
}

.timeline {
  line-height: 2rem;
  position: relative;
}

.sub-title::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  left: -1.5rem;
  background-color: var(--color-4);
  margin-block: 0.5rem 0;
}

header {
  border-right: 0.1rem solid var(--color-w-4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-w-1);
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  margin-inline: auto;
  height: 100%;
}

header nav a {
  display: flex;
  padding: 0.5rem;
  border-radius: var(--basic-border-radius);
  border: var(--basic-border-style);
  transition: var(--basic-transition);
}

header nav a:hover,
header nav a.active {
  background-color: var(--color-w-2);
}

header nav a img {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
}

.hero-text {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: start;
  text-align: center;
}

.hero-button {
  margin-block-start: 1rem;
}

p {
  font-size: 1.25rem;
  color: var(--color-2);
}

h1,
h2 {
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3rem;
}

.code-text {
  font-family: "Jetbrains Mono", monospace;
}

.tag {
  color: var(--color-4);
}

.button {
  padding: 1rem;
  background-color: var(--color-3);
  color: #fff;
  font-weight: 500;
  border-radius: var(--basic-border-radius);
  cursor: pointer;
  transition: var(--basic-transition);
  width: fit-content;
}

.button:hover {
  background-color: var(--color-2);
}

h1.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

h2.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.sub-title {
  font-size: 1.5rem;
}

.sub-sub-title {
  color: var(--color-3);
}

.italic {
  font-style: italic;
}

.list {
  margin-left: 1.5rem;
}

.icon-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

.icon {
  width: 6rem;
  height: 5rem;
  filter: grayscale(100%);
  transition: var(--basic-transition);
  object-fit: contain;
}

.icon.dark-icon {
  opacity: 75%;
}

.icon:hover {
  filter: grayscale(0%);
  opacity: 100%;
}

.skills-wrapper {
  display: grid;
  row-gap: 2rem;
}
